@import "tailwindcss";

@theme {
  --color-primary: #c61f1f;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --footer-bg: #111111;
  --footer-border: #4b5563;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1180px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100%;
}

footer {
  background-color: var(--footer-bg);
  border-top: 1px solid var(--footer-border);
  padding: 20px 0;
  text-align: center;
}

.flag {
  transform: translateY(-10%);
  transition: transform 0.3s ease;
}
.flag:hover {
  transform: translateY(-20%);
}
